@model ForgetPassVM
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AouthLayout.cshtml";
}

<h1>ForgetPassword</h1>
		<div class="main-agileinfo">

			<div class="agileits-top">
		<div asp-validation-summary="All" class="text-danger"></div>

		<form asp-action="ForgetPassword" method="post">
					<input class="text email"asp-for="Email" placeholder="Email" >
					<input type="submit" value="Send Email">
				</form>
		<p>Don't have an Account? <a asp-action="Login"> Back to Login page!</a></p>
			</div>
		</div>

