@model LoginViewModel 
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AouthLayout.cshtml";
}

<h1>Login</h1>

		<div class="main-agileinfo">

			<div class="agileits-top">
		<div asp-validation-summary="All"></div>

				<form asp-action="Login"  method="post">
					<input class="text email"asp-for="Email" placeholder="Email" >
					<input class="text" asp-for="Password" placeholder="Password" >
					<div class="wthree-text">
						<label class="anim">
							<input asp-for="RememberMe" class="checkbox" >
							<span>I Agree To The Terms & Conditions</span>
						</label>
						<div class="clear"> </div>
					</div>
					<input type="submit" value="Login">
				</form>
		<p>Don't have an Account? <a asp-action="Regester"> Regester Now!</a></p>
		<p> <a asp-action="ForgetPassword"> Forget password</a></p>

			</div>
		</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}