@model ResetPassVM
@{
    ViewData["Title"] = "ResetPasswordDone";
    Layout = "~/Views/Shared/_AouthLayout.cshtml";
}

<h1>ResetPasswordDone</h1>

		<div class="main-agileinfo">

			<div class="agileits-top">
		<div asp-validation-summary="All"></div>

		<form asp-action="ResetPasswordDone" method="post">
			<input class="text" asp-for="NewPassword" placeholder="Password" >
			<input class="text" asp-for="ConfermPassword" placeholder="Password">

					<input type="submit" value="Reset pass">
				</form>
		<p>Don't have an Account? <a asp-action="Regester"> Regester Now!</a></p>
		<p> <a asp-action="ForgetPassword"> Forget password</a></p>

			</div>
		</div>
